
.navigate{
    background-color: blueviolet;
    color:aliceblue;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

li{
    list-style: none;
}

a{
    color: aliceblue;
    text-decoration: none;
}

.nav-list{
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
}

.list{
    padding: 1rem;
}

.nav-brand{
  font-size:1.5em;
}

.hero .heading{
    text-align: center;
    padding-top:1rem;
    color:darkgray;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.87em;
    margin-block-end: 0.67em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    font-weight: bold;
}

.headings{
    color:cornflowerblue;
}

.container{
    text-align: center;
    padding-top: 1rem;
}

.container h1{
    font-size:2em;
    margin-block-start: 0.87em;
    margin-block-end: 0.67em;

}
small{
    font-size: 20px;
    margin-top: 1rem;
}

.link-primary {
    max-width: 140px;
    padding: 0.6rem 1.2rem;
    background-color: violet;
    color: white;
    margin: 1rem auto;
    border-radius: 2rem;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
}

.footer { 
    background-color: blueviolet;
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    margin: 1em;
}

.footer-header{
    font-size: 2.5em;
}

.list-item{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.hero .hero-img {
    max-width: 80%;
    width: 550px;
    display: block;
    margin: auto;
}

.link-secondary {
    max-width: 140px;
    padding: 0.6rem 1.2rem;
    background-color: violet;
    color: white;
    margin: 1rem auto;
    border-radius: 2rem;

}